<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ETechFlow_OrderEmailEditor::root"
             title="Order Email Editor"
             module="ETechFlow_OrderEmailEditor"
             sortOrder="50"
             parent="eTechFlow::root"
             resource="ETechFlow_OrderEmailEditor::view_history"/>

        <add id="ETechFlow_OrderEmailEditor::history"
             title="Edit History"
             module="ETechFlow_OrderEmailEditor"
             sortOrder="10"
             parent="ETechFlow_OrderEmailEditor::root"
             action="order_email_editor/history/index"
             resource="ETechFlow_OrderEmailEditor::view_history"/>
    </menu>
</config>
